body {
    --bw-100: rgb(247, 0, 255);
    --couleur1: rgb(0, 255, 255);

    --bw-700: rgb(255, 0, 0);
    --zbeub: rgb(217, 255, 0);
}
.couleur {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:var(--bw-100);

}

.bw-100 {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:var(--couleur1)

}

button.primary.large {
    background-color: var(--couleur1);
    border-radius: 40px;
    border: none;
    color: var(--bw-700);
    padding: 24px, 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    transition: all ease-in-out 130ms;
}

button.primary.large:hover {
    background: var(--zbeub) ;
}

button.primary.medium {
    background-color: var(--couleur1);
    border-radius: 20px;
    border: none;
    color: var(--bw-700);
    padding: 18px, 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: all ease-in-out 130ms;
}

button.primary.medium:hover {
    background: var(--zbeub) ;
}

button.secondary.large {
    background-color: var(--couleur1);
    border-radius: 40px;
    border: 3px solid var(--bw-700);
    color: var(--bw-700);
    padding: 24px, 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    transition: all ease-in-out 130ms;
}

button.secondary.large:hover {
    background: var(--bw-100) ;
    color: var(--zbeub);
}