*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    
    background-color: var(--background-color1);
}

div {
    display: flex;
}


/* ===== THEME ===== */

.white {
    --color-bleu1 : #8428F8;
    --color-bleu3 : #141C3A;
    --line-color : #E5EBF2;
    --color-bleu4 : #535E88;
    --background-color1 : #FFFFFF;
    --backgroundcolor2: #F9FBFD;
    --color-bleu5 : #1D274F;
}

.dark {
    --color-bleu1 : #8428F8;
    --color-bleu3 : #F9FBFD;
    --line-color : #535E88;
    --color-bleu4 : #F9FBFD;
    --background-color1 : #141C3A;
    --backgroundcolor2: #1D274F;
    --color-bleu5 : #1D274F;
    color: white;
}

.font {
    font-family: Roboto;
    font-style: normal;
}

.header{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    padding: 0;

    gap: 38px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    color: var(--color-bleu3);
}

a{
    outline: none;
    text-decoration: none;
}

.color_a {
    color: var(--color-bleu3);
}

.propos{
    color: var(--color-bleu1);
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
}

.colortxt {
    color: var(--color-bleu1);
}

.nom{
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    width : 33%;
    
    
    color : var(--color-bleu3);
    
}

.title {
    font-weight: 900;
    font-size: 26px;
    color: var(--color-bleu3);
}


.line {
    margin-top: 39px;

    color: var(--line-color);
}

.apropos{
    flex-direction: column;
    margin-top: 113px;
    align-items: center;


}

.para1{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    color: var(--color-bleu3); 
}

.para2{

    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    color: var(--color-bleu4);

}

.img1{
    margin-top: 79px;
}


.info{
    padding: 0;
    justify-content: center;
    display: flex;
    gap : 29px;
}

.ennum2 {
    width: 350px;
}

.enmail2 {
    width: 350px;
}

.entete1{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    flex-direction: column;
    color: var(--color-bleu3);
}

.line2{
    margin-top: 21px;
    width: 1px;
    height: 27px;
    background: var(--line-color);
}

.entete2{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    flex-direction: column;
    text-align: left;

    color: var(--color-bleu3);
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 286px;
    width: auto;
    height: 507px;
    background-color: var(--backgroundcolor2);
    
}

.bgtext{
    display: flex;
    width: 100%;
    justify-content: center;
}

.parag{
    margin-top: 29px;
    max-width: 30%;
    text-align: center;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.exp{
    margin-top: 121px;
    margin-bottom: 44px;
}


.topexp {
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.endexp {
    margin-top: 11px;
    display: flex;
    align-items: center;
}
.ligneexp{
    display: flex;  
    justify-content: center;
    align-content: center;
    gap: 83px;

    width: 900px;
}


.point{
margin-top: 5px;
width: 9px;
height: 9px;
border-radius: 9px;

background: var(--color-bleu1);
}

.decale_all {
    margin-top: 11px;
}

.traitexp {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 87px;

    width: 1000px;
    /* margin-left: 81px; */
}

.lastexp {
    display: flex;
    flex-direction: row;
    gap: 175px;
}

.test{
    margin-top: -2px;  
    width: 1px;
    height: 224px;

    background: var(--line-color);

}  

.left{
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    /* flex-direction: column; */
}

.right{
    align-items: flex-start;
    width: 300px;
    flex-wrap: wrap;
}


.line3s{
    margin-top: 17px;
    margin-bottom: 47px;
}

.line3{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lineref {
    
    width: 1532px;
    height: 1px;
    display: flex;
    background: var(--line-color);

}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titletxt{
    display: flex;
    justify-content: center;
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;


    color: var(--color-bleu3);
}


.skillss {
    justify-content: center;
    padding: 0px 51px 41px 0px;
}


.skillcontener {
    
    flex-direction: raw;

    align-items: center;
    
}

.skillscontent {
    
    border-radius: 100px;
    height: 6px;
    width: 467px;
    background-color: var(--backgroundcolor2);
    flex-direction: column ;
}

.progressbar {
    
    border-radius: 100px;
    height: 100%;
    width: 80%;
    background-color: var(--color-bleu1);

}

.policeprogress {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    
    color: var(--color-bleu3);
}

.textprogress {
    margin-left: 18px;
    flex-direction: row;    
}

.maxskill {
    
    flex-wrap: wrap;
    max-width: 1300px;
    margin-top: 130px;
    justify-content: center;

}

.center {
    display: flex;
    justify-content: center;
}

.education {
    display: flex;
    height: auto;
    width: auto;

    flex-direction: column;
    align-items: center;
    margin-top: 132px;
    
    background: var(--backgroundcolor2);

}

.educ {
    margin-top: 48px;
    margin-bottom: 44px;
}

.big_box_educ {
    flex-direction: row;
    gap: 31px;
    margin-top: 120px;
    max-width: 1500px;
    flex-wrap: wrap;
}

.educbox1st {
    
    flex-direction: row;
    flex-wrap: wrap;
    /* border: none; */
    margin-bottom: 120px;

}

.box_educ {
    
    flex-direction: column;
}

.subtitle_educ {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    align-items: center;

    color: var(--color-bleu3);

}

.subsubtitle_educ {
    margin-top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    max-width: 373px;


    color: #535E88;

}

.point_line {
    flex-direction: row;
    gap: 31px;
    align-items: center;
    margin-top: 34px;
}

.educ_line {
    width: 414px;
    height: 1px;

    background: var(--line-color);
    }

.point2{
    width: 9px;
    height: 9px;
    border-radius: 9px;

    background: var(--color-bleu1);
    }

.decale {
    margin-top: 36px;
}

.centrer_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projet_up {
    margin-top: 120px;
}

.title_medium {
    margin-top: 47px;
    margin-bottom: 44px;
}

.ALLPNG {
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 95px;
    gap: 45px;
}

.img_projet {
    border-radius: 12px;
    width: 356px;
    height: 241px;
}

.margin_formu {
    margin-top: 120px;
}

.formu {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.column {
    flex-direction: column;
}

.form_name {
    width: 825px;
    
}

.height1_form {
    height: 59px;
}


.padding_formu {
    gap: 48px;
    flex-direction: row;
}

.width_civil {
    width: 261px
}

.width_formu2 {
    width: 1134px;
}

/* .font_formu {

} */

input:invalid {
    border-color: red;
}

input:valid {
    border-color: black;
}

input {
    border-radius: 5px;
    
}

textarea:invalid {
    border-color: red;
}

textarea:valid {
    border-color: black;
}

textarea {
    border-radius: 5px;
    border-width: 2px;
}

.height2_form {
    height: 230px;
}

.raw {
    display: flex;
    flex-direction: raw;
}

input:valid ~ img {
    display: none;
}

.error_img {
    width: 16px;
    height: 16px;
}

.formu_error {
    align-items: center;
    gap: 8px;
}

input:valid ~ p {
    display: none;
}

textarea:valid ~ img {
    display: none;
}

.txt_error {
    color: red;
    font-size: 11px;
}

select {
    border-radius: 5px;
    background-color: #FFFFFF;
}

.download_cv{
    color: #8428F8;
    width: auto;
    height: 452px;
    margin-top: 167px;
    background-color: var(--backgroundcolor2);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    font-weight: 900;
    font-size: 26px;
    
}